@model IEnumerable<AllViewModel>

@{
    ViewData["Title"] = "All our products";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<div class="text-center row">
    @foreach (var e in Model)
    {
        <div class="card col-4" style="width: 20rem; ">
            <img class="card-img-top" style="width: 18rem;"
             src="@e.ImageUrl" alt="Product Image">
            <div class="card-body">
                <h5 class="card-title mt-1">@e.Name</h5>                
                <p class="mb-0"><span class="fw-bold">Price: </span>@e.Price</p>
            </div>
            
            <a asp-controller="Product" asp-action="Details" asp-route-id="@e.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Product Details</a>
            <a asp-controller="Order" asp-action="BuyProduct" asp-route-id="@e.Id" class="fs-6 btn btn-success mb-3 p-2">Buy this product</a>  
            
        </div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
