@model DetailsViewModel

@{
    ViewData["Title"] = "Product Details";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<div class="row">
    <div class="card w-100">
        <div class="d-flex align-items-center flex-column mt-2">
            <img class="card-img-top" style="width: 18rem;"
                 src="@Model.ImageUrl" alt="Product Image">
        </div>        
        <div class="card-body text-center">
            <h3 class="card-title text-center">@Model.Name</h3>
            <p class="mb-0"><span class="fw-bold">Description: </span>@Model.Description</p>
            <p class="mb-0"><span class="fw-bold">Price: </span>@Model.Price</p>            
            <p class="mb-0"><span class="fw-bold">Available quantity: </span>@Model.QuantityInStock</p>            
        </div>

        <div class="text-center">
            <a asp-controller="Product" asp-action="All" class="btn btn-warning mb-2 w-50 p-3 fw-bold">Back to All Products</a>
            <a asp-controller="Order" asp-action="BuyProduct" asp-route-id="@Model.Id" class="fs-6 btn btn-success mb-3 w-50 p-2">Buy this product</a>
        </div>
    </div>
</div>

@section Scripts {
        <partial name="_ValidationScriptsPartial" />
}
