@model IEnumerable<IndexViewModel>

@{
    ViewData["Title"] = "Home Page";
    var beauties = Model.ToList();
}

<div class="mt-4 p-5 bg-light text-center">
    <h1 class="display-4">Welcome to Jordy Handmade - the sunny place for shopping!</h1>
        <p class="lead">
            Look in our products to see if something can make your life more colorful!
        </p>
        <hr class="my-4">        
</div>


<div class="mb-5"></div>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        @for (int i = 0; i < beauties.Count(); i++)
        {
            var beauty = beauties[i];
            <div class="carousel-item @(i == 0 ? "active" : string.Empty)">
                <div style="height: 500px; background-color: #c3e3a3;" class="w-100 d-flex justify-content-center align-items-center">
                    <img class="d-block" style="max-height:100%; max-width:100%"
                     src="@beauty.ImageUrl" alt="@beauty.Name">
                </div>
                 
                <div class="carousel-caption d-none d-md-block">
                    <h5>
                        <a class="btn btn-primary" asp-controller="Product" asp-action="Details"
                       asp-route-id="@beauty.Id"> @beauty.Name</a>
                    </h5>
                </div>
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
